In [0]:
spark

In [0]:
%sql
use catalog `ng_db`; select * from `default`.`loan` limit 100;

Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,HOUSING,"10,00,000",5,"42,898",6,9
IB14008,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,"50,000",3,"33,999",1,5
IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14018,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14022,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14024,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,AUTOMOBILE,"47,787",1,"50,000",0,3
IB14025,39,FEMALE,TEACHER,MARRIED,6,46619,18675,4,HOUSING,"12,09,867",8,"29,999",6,8
IB14027,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,RESTAURANTS,"60,676",8,"13,000",2,5
IB14029,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14031,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,AUTOMOBILE,"60,999",2,0,5,3
IB14032,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,AUTOMOBILE,"35,232",5,"33,333",1,2
IB14034,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,COMPUTER SOFTWARES,"80,660",6,"4,500",5,4
IB14037,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14039,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,"9,87,611",7,"39,999",8,1
IB14041,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,50999,22999,5,EDUCATIONAL LOAN,"5,99,934",3,"9,000",9,9
IB14042,25,FEMALE,DOCTOR,SINGLE,4,60111,27111,5,TRAVELLING,"12,90,929",4,"18,000",1,0
IB14045,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14049,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,"79,999",4,"6,700",7,3
IB14050,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,HOUSING,"10,65,577",6,"19,999",4,2
IB14054,58,FEMALE,DOCTOR,MARRIED,5,60000,25000,5,HOUSING,"9,00,000",5,"21,000",9,0
IB14057,25,MALE,AIRPORT OFFICER,SINGLE,4,40000,18888,3,RESTAURANTS,"4,00,000",8,"11,111",1,7
IB14060,36,FEMALE,CLERK,MARRIED,4,35000,15000,3,HOUSING,"3,00,000",2,"5,600",4,8
IB14070,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,"4,00,000",9,"19,954",3,2
IB14078,45,FEMALE,FIRE DEPARTMENT,MARRIED,4,40000,18888,4,AUTOMOBILE,"70,000",1,0,2,1
IB14079,25,MALE,CLERK,SINGLE,3,35000,9000,2,GOLD LOAN,"1,00,000",3,"12,584",1,2
IB14082,60,FEMALE,TEACHER,MARRIED,5,70000,40000,9,GOLD LOAN,"2,57,789",4,"10,058",4,3
IB14085,30,MALE,ELECTRICIAN,MARRIED,4,30000,15000,5,HOUSING,"3,54,789",5,"32,154",5,5
IB14086,51,FEMALE,TECHNICIAN,MARRIED,5,30000,null,5,RESTAURANTS,"1,25,463",7,"52,634",4,10
IB14089,25,MALE,PROFESSOR,SINGLE,5,62145,31254,4,BOOK STORES,"12,45,789",6,"48,596",6,5
IB14092,47,MALE,SYSTEM ENGINEER,MARRIED,4,52364,45612,3,GOLD LOAN,"6,54,725",4,"67,451",5,4
1B14093,21,FEMALE,MANAGER,SINGLE,3,42516,24567,7,AUTOMOBILE,"25,69,874",8,"89,652",2,3
1B14094,49,MALE,ASSISTANT PROFESSOR,MARRIED,5,65214,42589,5,HOUSING,"9,85,412",5,"11,254",1,2
IB14096,33,FEMALE,CLERK,MARRIED,3,35684,15247,3,RESTAURANTS,"14,52,637",3,"13,547",3,2
IB14099,47,FEMALE,DOCTOR,MARRIED,4,72154,45286,4,AUTOMOBILE,"7,54,126",2,"19,524",5,2
IB14101,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,null,45812,5,AUTOMOBILE,"8,52,416",4,"17,524",6,3
IB14104,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,32541,2,AUTOMOBILE,"20,45,789",1,"16,599",2,3
IB14106,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,"15,24,789",7,"90,000",2,5
IB14107,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,AUTOMOBILE,"23,65,478",5,"20,145",3,4
IB14109,56,MALE,DRIVER,MARRIED,5,30000,15426,7,TRAVELLING,"9,21,456",6,"20,000",4,6
IB14111,57,FEMALE,CORPORATE OFFICER,MARRIED,3,52143,null,4,COMPUTER SOFTWARES,"75,41,236",4,"11,111",3,2
IB14113,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,"5,87,412",7,"65,412",3,2
IB14115,41,MALE,BANK MANAGER,MARRIED,6,64125,21246,6,TRAVELLING,"6,52,147",5,"16,524",3,3
IB14117,39,FEMALE,SYSTEM OFFICER,MARRIED,6,null,32541,5,EDUCATIONAL LOAN,"1,02,256",3,"14,256",4,4
IB14120,47,FEMALE,TEACHER,MARRIED,3,50000,42563,4,RESTAURANTS,"6,54,120",6,"45,127",2,3
IB14121,33,MALE,DOCTOR,MARRIED,6,70000,12541,8,HOUSING,"7,45,213",4,"19,541",1,3
IB14123,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,AUTOMOBILE,"9,85,413",7,"20,000",5,3
IB14125,29,FEMALE,TEACHER,MARRIED,4,59999,42568,4,AUTOMOBILE,"52,14,789",5,"17,452",2,2
IB14126,57,MALE,FIRE DEPARTMENT,MARRIED,5,54123,null,7,RESTAURANTS,"41,23,65",6,"18,524",2,1
IB14128,46,FEMALE,CLERK,MARRIED,3,750000,25641,5,GOLD LOAN,"2,14,569",4,"16,324",3,4
IB14130,43,MALE,PRODUCT ENGINEER,MARRIED,4,50147,45863,8,COMPUTER SOFTWARES,"7,85,241",8,"19,999",3,5
IB14134,33,MALE,DOCTOR,MARRIED,6,70000,33541,8,BUILDING,"7,45,213",4,"19,541",1,3
IB14136,36,MALE,ELECTRICIAN,MARRIED,2,36985,25648,6,ELECTRONICS,"9,85,413",7,"20,000",5,3
IB14138,27,FEMALE,SOFTWARE ENGINEER,SINGLE,4,40000,22000,4,GOLD LOAN,"4,00,000",4,"15,647",5,3
IB14140,45,MALE,BANK MANAGER,MARRIED,6,55670,32500,5,TRAVELLING,"2,00,560",3,"34,600",4,4
IB14143,34,FEMALE,TEACHER,MARRIED,4,45389,null,5,HOME APPLIANCES,"3,50,050",4,"24,000",4,3
IB14145,45,FEMALE,CLERK,MARRIED,5,40560,38789,6,TRAVELLING,"7,85,000",6,"29,650",6,7
IB14146,56,MALE,FIRE DEPARTMENT,MARRIED,6,67890,34567,5,TRAVELLING,"6,78,500",5,"13,560",3,4
IBI4148,46,MALE,SYSTEM OFFICER,MARRIED,5,56780,24560,5,GOLD LOAN,"8,54,000",6,"23,700",6,4
IBI4150,38,FEMALE,ACCOUNT MANAGER,MARRIED,4,45600,19870,4,HOME APPLIANCES,"7,65,040",5,"35,700",5,4
IBI4153,58,MALE,SYSTEM ENGINEER,MARRIED,6,76800,null,5,TRAVELLING,"16,59,080",6,"29,000",5,3
IBI4155,24,FEMALE,SOFTWARE ENGINEER,SINGLE,4,55680,29000,5,AUTOMOBILE,"7,89,000",5,"24,000",6,4
IBI4157,35,MALE,BANK MANAGER,MARRIED,4,930000,35680,6,HOUSING,"6,79,040",5,"34,000",5,5
IB14158,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,AUTOMOBILE,"20,45,789",1,"16,599",2,3
IB14160,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,TRAVELLING,"15,24,789",7,"90,000",2,5
IB14163,44,FEMALE,ACCOUNT MANAGER,MARRIED,4,800000,15632,8,COMPUTER SOFTWARES,"23,65,478",5,"20,145",3,4
IB14164,56,MALE,DRIVER,MARRIED,5,30000,15426,7,TRAVELLING,"9,21,456",6,"20,000",4,6
IB14167,57,FEMALE,CORPORATE OFFICER,MARRIED,3,52143,null,4,AUTOMOBILE,"75,41,236",4,"11,111",3,2
IB14169,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,SHOPPING,"5,87,412",7,"65,412",3,2
IB14171,47,FEMALE,DOCTOR,MARRIED,4,72154,45286,4,AUTOMOBILE,"7,54,126",2,"19,524",5,2
IB14173,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,null,45812,5,SHOPPING,"8,52,416",4,"17,524",6,3
IB14176,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14178,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,"60,676",8,"13,000",2,5
IB14179,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14181,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,HOME APPLIANCES,"60,999",2,0,5,3
IB14184,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,"35,232",5,"33,333",1,2
IB14186,44,MALE,PROFESSOR,MARRIED,6,59000,19999,4,AUTOMOBILE,"50,000",3,"33,999",1,5
IB14187,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14189,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
IB14191,34,MALE,POLICE,SINGLE,4,44521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14194,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,TRAVELLING,"47,787",1,"50,000",0,3
IB14195,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,SHOPPING,"80,660",6,"4,500",5,4
IB14197,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"300,999",1,"12,000",7,5
IB14199,45,MALE,ACCOUNT MANAGER,MARRIED,7,45777,18452,4,GOLD LOAN,"9,87,611",7,"39,999",8,1
IB14201,59,FEMALE,ASSISTANT PROFESSOR,MARRIED,4,60999,22999,5,AUTOMOBILE,"5,99,934",3,"9,000",9,9
IBI4202,35,MALE,BANK MANAGER,MARRIED,4,67500,25780,6,AUTOMOBILE,"6,79,040",5,"34,000",5,5
IB14204,54,MALE,AIRPORT OFFICER,MARRIED,6,81000,62541,2,DINNING,"20,45,789",1,"16,599",2,3
IB14206,51,MALE,SYSTEM MANAGER,MARRIED,3,39999,19111,5,AUTOMOBILE,"60,676",8,"13,000",2,5
IB14208,36,FEMALE,CLERK,MARRIED,4,45300,15000,3,HOUSING,"3,00,000",2,"5,600",4,8
IB14210,40,MALE,PUBLIC WORKS,MARRIED,4,38000,20000,3,GOLD LOAN,"4,00,000",9,"19,954",3,2
IB14213,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,AUTOMOBILE,"1,67,654",1,"4,500",0,1
IB14215,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,TRAVELLING,"79,999",4,"6,700",7,3
IB14216,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,"35,232",5,"33,333",1,2
IB14218,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,"50,000",3,"33,999",1,5
IB14220,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14221,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14224,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,HOME APPLIANCES,"79,999",4,"6,700",7,3
IB14225,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,HOUSING,"10,65,577",6,"19,999",4,2
IB14227,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14229,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,ELECTRONICS,"60,676",8,"13,000",2,5
IB14231,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7

In [0]:
df = spark.table('ng_db.default.loan')
df.show()

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|               5|                 3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6|  NULL|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN|  9,87,611 |      7|      39,999|               8|                 1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN|  5,99,934 |      3|       9,000|               9|                 9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4|  NULL|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14054| 58|FEMALE|             DOCTOR|       MARRIED|          5| 60000|      25000|            5|           HOUSING|  9,00,000 |      5|      21,000|               9|                 0|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.types import IntegerType,StringType

def get_digits(s):
    return ''.join([i for i in s if i.isdigit()])

get_digits_udf = udf(get_digits, StringType())

In [0]:
from pyspark.sql.functions import col, udf

df = df.withColumn('Loan Amount', get_digits_udf(col('Loan Amount')).cast(IntegerType()))\
    .withColumnRenamed(' Debt Record','Debt Record')\
    .withColumn('Debt Record', get_digits_udf(col('Debt Record')).cast(IntegerType()))\
    .withColumnRenamed(' Returned Cheque','Returned Cheque')\
    .withColumnRenamed(' Dishonour of Bill','Dishonor of Bill')

In [0]:
# Number of loans in each category
from pyspark.sql import functions as f

df.groupBy("Loan Category").agg(f.count("Loan Category").alias("count")).orderBy(
    "count", ascending=False
).show()

+------------------+-----+
|     Loan Category|count|
+------------------+-----+
|         GOLD LOAN|   77|
|           HOUSING|   67|
|        AUTOMOBILE|   60|
|        TRAVELLING|   53|
|       RESTAURANTS|   41|
|COMPUTER SOFTWARES|   35|
|          SHOPPING|   35|
|          BUSINESS|   24|
|  EDUCATIONAL LOAN|   20|
|        RESTAURANT|   20|
|           DINNING|   14|
|       ELECTRONICS|   14|
|   HOME APPLIANCES|   14|
|       AGRICULTURE|   12|
|       BOOK STORES|    7|
|          BUILDING|    7|
+------------------+-----+

In [0]:
# b. Number of people who have taken more than 1 lakh loan
# df.where('"Loan Amount" > "1,00,000"').show()
# df.filter(df['Loan Amount']> '1,00,000').agg(f.count('Loan Amount').alias('count of loan_amount_more_than_1lac')).show()
df.filter(df["Loan Amount"] > 100000).count()

450

In [0]:
# c. Number of people with income greater than 60000 rupees
df.filter(df['Income'] > 60000).count()

198

In [0]:
# d. Number of people with 2 or more returned cheques and income less than 50000
df.filter((df['Returned Cheque'] > 2) & (df['Income'] < 50000)).count()

117

In [0]:
# e. Number of people with 2 or more returned cheques and are single
df.filter((df['Returned Cheque'] > 2) & (df['Marital Status']=='SINGLE')).count()

90

In [0]:
# f. Number of people with expenditure over 50000 a month
df.filter(df['Expenditure'] > 50000).count()

6